API_PORT=4017

POSTGRES_DB=verirevops
POSTGRES_USER=veridata_user
POSTGRES_PASSWORD=veridata_pass
POSTGRES_HOST=veridata.postgres
POSTGRES_PORT=5432

CHATWOOT_BOT_TIMEOUT_SECONDS=90

OPENAI_MODEL=gpt-4o
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

GEMINI_MODEL=gemini-3.5-flash
GOOGLE_API_KEY=AIzaSyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

SUPERADMIN_PASSWORD=change_me
SUPERADMIN_EMAIL=<change_me>@veridatapro.com
JWT_SECRET_KEY=openssl rand -hex 32
